:root {
  --COLOR-WHITE1: white;
  
  --COLOR-GRAY1: #767677;
  --COLOR-GRAY2: #d8d9db;
  --COLOR-GRAY3: #f9fafb;

  --COLOR-BLUE1: #0A3069; 
  --COLOR-BLUE2: #005193;
  --COLOR-BLUE3: #0969DA;
  --COLOR-BLUE4: #54AEFF;
  --COLOR-BLUE5: #B6E3FF;

  --swiper-theme-color: var(--COLOR-BLUE2);
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
}

main {
  margin: 15px;
}

.header {
  margin: 3rem;
}

.input,
.button {
  padding: 0.5rem 0.75rem;
  outline: none;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  line-height: 1.5;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.button {
  background-color: var(--COLOR-BLUE2);
  color: var(--COLOR-WHITE1);
  font-weight: 500;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

.button:disabled {
  color: var(--COLOR-GRAY1);
  font-weight: 200;
  transform: none;
}

.input:hover,
.button:hover {
  box-shadow: 0 0px 2px hsla(0, 0%, 0%, 0.8), 0 1px 4px hsla(0, 0%, 0%, 0.2);
}

.page-title {
  margin: 2.5rem;
  font-size: 2rem;
  font-weight: normal;
}

.page-subtitle {
  margin-top: 5px;
  color: var(--COLOR-GRAY1);
  margin-bottom: 2rem;
}

.font-large {
  font-size: 1.5rem;
}

@media (min-width: 700px) {
  .page-title {
    font-size: 2.3rem;
  }

  .page-subtitle {
    font-size: large;
  }

    .font-large {
      font-size: 1.7rem;
    }
}
