:root {
  --COLOR-WHITE1: white;
  --BGCOLOR-BLUE1: #0A3069; 
  --BGCOLOR-BLUE2: #005193;
  --BGCOLOR-BLUE3: #0969DA;
  --BGCOLOR-BLUE4: #54AEFF;
  --BGCOLOR-BLUE5: #B6E3FF;

  --BGCOLOR-GRAY1: #d8d9db;
  --BGCOLOR-GRAY2: #f9fafb;
  
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  color: #121212;
}

.header {
  margin: 3rem;
}

.input,
.button {
  padding: 0.5rem 0.75rem;
  outline: none;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  line-height: 1.5;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

.button {
  background-color: var(--BGCOLOR-BLUE2);
  color: var(--COLOR-WHITE1);
  font-weight: 500;
}

.input:hover,
.button:hover {
  box-shadow: 0 0px 2px hsla(0, 0%, 0%, 0.8), 0 1px 4px hsla(0, 0%, 0%, 0.2);
}

.button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}
