.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .main-logo {
  width: 200px;
  height: 200px;
}

@media (min-width: 700px) {
  .main-logo {
    width: auto;
    height: auto;
  }
}
