.new-poll {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.new-poll .page-title {
    margin-bottom: 0;
}


.new-poll-form .input {
    width: 15rem;
    margin-bottom: 2rem;
}

.input:last-of-type {
    margin-bottom: 2.8rem;
}

.new-poll-form .button {
    width: 8rem;
}

@media (min-width: 700px) {
    .new-poll-form .input {
        width: 30rem;
    }

    .new-poll-form .button {
        width: 10rem;
    }
}