.debug {
  border: 1px solid red;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  color: #121212;

}

input, button {
  padding: 0.5rem 0.75rem;
  outline: none;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  line-height: 1.5;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button {
  background-color: #005193;
  color: white;
  font-weight: 500;
}

input:hover,
button:hover {
  box-shadow: 0 0px 2px hsla(0, 0%, 0%, 0.8), 0 1px 4px hsla(0, 0%, 0%, 0.2);
  
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

#root {
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightgrey;
}

#navbar > img {
  width: 52px;
  height: 52px;
  margin: 10px;
}

#navbar > nav {
  height: 72px;
  display: flex;
  align-items: center;
}

#navbar a {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  outline-color: transparent;
  text-decoration: none;
}

#navbar a.active {
  border-bottom: 2px solid black;
}

#navbar a:link {
  color: inherit;
}

#navbar a:visited {
  outline: none;
  color: inherit;
}

#navbar a:hover {
  background-color: hsl(0, 0%, 90%);
}

#navbar a:active {
  background-color: hsl(0, 0%, 85%);}


#container-right {
  flex: 1 1;
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#avatar {
  display: flex;
}

#avatar > img {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

#avatar > p {
  font-style: italic;
}

#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login > h1 {
  margin: 3rem;
}

#login > form {
  margin: 2rem;
  text-align: center;
}

#login input {
  width: 20rem;
  height: 1.6rem;
}

#login button {
  margin-top: 1.5rem;
  width: 8rem;
  height: 2.2rem;
}

