.debug {
  border: 1px solid red;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  color: #121212;

}

#root {
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  align-items: center;
  border-bottom: 2px solid lightgrey;
}

#navbar > img {
  width: 52px;
  height: 52px;
  margin: 10px;
}

#navbar > nav {
  height: 72px;
  display: flex;
  align-items: center;
}

#navbar a {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  outline-color: transparent;
  text-decoration: none;
}

#navbar a.active {
  border-bottom: 2px solid black;
}

#navbar a:link {
  color: inherit;
}

#navbar a:visited {
  outline: none;
  color: inherit;
}

#navbar a:hover {
  background-color: hsl(0, 0%, 90%);
}

#navbar a:active {
  background-color: hsl(0, 0%, 85%);}


#container-right {
  flex: 1 1;
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#avatar {
  display: flex;
}

#avatar > img {
  width: 48px;
  height: 48px;
  margin-right: 5px;
}

#avatar > p {
  font-style: italic;
}
